//sass main.scss ../../../public/css/main.css

// Variables
@import "variables";

.nav-left{
	float:left !important;
	.link{
	    border-right: 1px solid #d2d6de;
		a{
	    	border-right: none !important;
	    	border-left: none !important;
		}
	}
	.search{
    	padding: 8px;
    	width:200px;
	}
}

.nav{
	.user-div{
	    padding-top: 15px;
    	padding-bottom: 15px;
    	padding-right: 15px;
	}
}

.content-wrapper{
	margin-left: 0;
    background-color: #fcfcfc;
	.container{
		.content-header{
			h1{
				font-size: 40px;
			    font-weight: bold;
			    color:$bordo;
			}
		}
	}
}

.centered{
    float: none;
    margin: 0 auto;
}

.btn-purple{
	background: $purple;
	color:#fff;
	&:hover{
		background: #605ca8;
		color:#fff;
	}
}

.btn-more{
	margin-top: 20px;
    font-size: 18px;
    background: transparent;
    border: 2px solid $purple;
    border-radius: 50px;
    font-weight: bold;
    color:$purple;
    margin-bottom: 10px;
    &:hover{
		border: 2px solid $dark-gray;
		color:$dark-gray;
	}
}

.back-row{
	h1{
		display: inline;
	}
	span{
		font-size: 40px;
		color: $purple;
		&:hover{
			color: #605ca8;
		}
	}
}

#home, #my{
	a{
		h2{
			font-size: 30px;
			font-weight: bold;
			color:$purple;
			&:hover{
				color:$dark-gray;
				cursor:pointer;
			}
		}

	}
	p{
		font-size: 16px;
	    display: -webkit-box;
	    margin: 0 auto;
	    -webkit-line-clamp: 5;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
        word-break: break-all;
    	max-height: 110px;/* Fallback for non-webkit */
	}
	img{
		width: 100%;
		height: 200px;
		margin:15px 0;
		object-fit: cover;
	}

	.info{
	    margin-bottom: 10px;
		i{
			color: $light-gray
		}
		span{
			color: $light-gray;
			margin:0 10px 0 4px
		}
	}
}

#post{
	.box-purple {
	  	border-top-color: $purple;
	}
	.ck-content{
		p{
			height: 200px
		}
	}
}

#details{
	h2{
		font-size: 30px;
		font-weight: bold;
		color:$purple;
	}
	p{
		font-size: 16px;
	    word-break: break-all;
	}
	.info{
	    margin-bottom: 10px;
		i{
			color: $light-gray
		}
		span{
			color: $light-gray;
			margin:0 10px 0 4px
		}
	}
	img{
		width: 100%;
		margin: 15px 0;
	}
}

#search{
	a{
		h2{
			font-size: 30px;
			font-weight: bold;
			color:$purple;
			&:hover{
				color:$dark-gray;
				cursor:pointer;
			}
		}
	}
	p{
		font-size: 16px;
	    white-space: nowrap;
	    width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.info{
	    margin-bottom: 10px;
		i{
			color: $light-gray
		}
		span{
			color: $light-gray;
			margin:0 10px 0 4px
		}
	}
}